h2 {
    text-align: center;
}

.tempe {
    margin-bottom: 5%;
}

.vien {
    margin-bottom: 5%;
}

.hume {
    margin-bottom: 5%;
}

#brujula {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    border-radius: 50%;
    top: 50%;
    left: 42%;
}
@media only screen and (max-width: 600px) {
    #brujula {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

.punto-cardinal {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    background-color: white;
    color: black;
}

#norte {
    top: 0;
    left: calc(50% - 10px);
}

#este {
    top: calc(50% - 10px);
    right: 0;
}

#sur {
    bottom: 0;
    left: calc(50% - 10px);
}

#oeste {
    top: calc(50% - 10px);
    left: 0;
}

/* Establecer el estilo de la aguja */
.aguja {
    background-color: transparent;
    width: 0;
    height: 0;
    border-style: solid;
    border-width:50px 5px 0 5px;
    border-color: red transparent transparent transparent;
    position: absolute;
    top: calc(50% + 15px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

/* Establecer la rotación de la aguja según la dirección proporcionada por la API */
.direccion-norte .aguja {
    transform: translate(-50%, -100%) rotate(0deg);
}

.direccion-este .aguja {
    transform: translate(-50%, -100%) rotate(90deg);
}

.direccion-sur .aguja {
    transform: translate(-50%, -100%) rotate(180deg);
}

.direccion-oeste .aguja {
    transform: translate(-50%, -100%) rotate(270deg);
}

.aguja.direccion-norte {
    transform: translate(-50%, 0) rotate(0deg) scale(1.1);
}

.aguja.direccion-este {
    transform: translate(-50%, 0) rotate(90deg) scale(1.1);
}

.aguja.direccion-sur {
    transform: translate(-50%, 0) rotate(180deg) scale(1.1);
}

.aguja.direccion-oeste {
    transform: translate(-50%, 0) rotate(270deg) scale(1.1);
}

#direccion-viento {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 14px;
    margin-bottom: 5px;
}

.rayitas-tiempo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.rayita-tiempo {
    position: absolute;
    height: 100px;
    bottom: 1px;
    width: 2px;
    background-color: black;
    transform-origin: bottom center;
    opacity: 0.2;
}

nav {
    background-color: #333;
    overflow: hidden;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    float: left;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #ddd;
    color: black;
  }