h2 {
    text-align: center;
  }
  
  .tempe {
    margin-bottom: 5%;
  }
  .vien {
    margin-bottom: 5%;
  }
  .hume {
    margin-bottom: 5%;
  }
  #brujula {
    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid #999;
    border-radius: 50%;
    box-shadow: 0 0 10px #666;
    overflow: hidden;
  }
  
  #brujula img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-origin: center center;
  }
  
  .punto-cardinal {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    color: #000;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
    font-weight: bold;
  }
  
  #norte {
    top: 0;
    left: 50%;
    transform: translateX(-50%) translateY(-15px);
  }
  
  #sur {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) translateY(15px);
  }
  
  #este {
    top: 50%;
    right: 0;
    transform: translateX(15px) translateY(-50%);
  }
  
  #oeste {
    top: 50%;
    left: 0;
    transform: translateX(-15px) translateY(-50%);
  }
  

  
 